@font-face {
font-family:
"HelveticaNeue-Bold";
font-style: normal;
font-weight: 700;
src:
url("https://fonts.animaapp.com/HelveticaNeue-Bold") format ("opentype");
}

.homepage{
    background: linear-gradient(119.1deg, #313132 15.37%, #161618 99.78%);
}

h1{
    color: rgba(255, 255, 255, 1);
    font-family: "HelveticaNeue-Bold";
}

.item {
    background: white;
    border-radius: 100%;
  }

  .container1{
    display: flex;
    justify-content: center;
  }

  .container2 {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }

  .homepic{
    border-radius: 17px;
    display: block;
    height: 948px;
    object-fit: cover;
    opacity: 1;
    width: 631px;
    /* animation: animate-enter-frames 3s ease 0s 1 normal forwards; */
  }

  .homepic-container{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @keyframes animate-enter-frames {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }