@font-face {
font-family:
"HelveticaNeue-Bold";
font-style: normal;
font-weight: 700;
src:
url("https://fonts.animaapp.com/HelveticaNeue-Bold") format ("opentype");
}

.homepage{
    background: linear-gradient(119.1deg, #313132 15.37%, #161618 99.78%);
}

h1{
    color: rgba(255, 255, 255, 1);
    font-family: "HelveticaNeue-Bold";
}

.item {
    background: white;
    border-radius: 100%;
  }

  .container2 {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }